h1 Chat Page
#chatContainer
    #chat
    #chatControls
        input#chatMsg(type="text", name="chatMsg", value="")
        input#chatSend(type="submit", value="Enter")
    #log
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript")
    var STATES = {
            "CONNECTED": 0,
            "LOGGEDIN": 1,
            "JOINED": 2,
            "DISCONNECTED": 3
    };
    var client = {
        uid: "#{uid}",
        conn: new io.Socket("serialx.net"),
        state: STATES.CONNECTED
    };
    var logger = $("#log");
    var chatWin = $("#chat");

    client.conn.connect();

    client.conn.on('connect', function() {
        logger.append("<p>Connected</p>");
        client.conn.send('UID ' + client.uid);
        logger.append("<p>Sent UID: " + "#{uid}" + "</p>");
    });

    client.conn.on('message', function(data) {
        var res, code, msg;
        var parsed = data.split(" ");
        logger.append("<p>Message from server: " + data + "</p>");

        res = parsed[0];
        code = parsed[1];
        msg = parsed[2];

        switch (res)
        {
            case "OK":
                switch(code) {
                    case "LOGGEDIN":
                        logger.append("<p>Logged in!</p>");
                        client.state = STATES.LOGGEDIN;
                        client.conn.send('FIND');
                        logger.append("<p>Requested room...</p>");
                        break;
                    case "JOINED":
                        logger.append("<p>Roomcode received: " + msg + "</p>");
                        client.state = STATES.JOINED;
                        break;
                    case "MSG":
                        chatWin.append('<p><span class="stranger">Stranger</span>' + msg + '</p>');
                        break;
                    default:
                        logger.append("<p>No code received from server</p>");
                        break;
                }
                break;
            case "ERROR":
                logger.append("<p>Error received from server</p>");
                client.conn.disconnect();
                client.state = STATES.DISCONNECTED;
                break;
            default:
                logger.append("<p>Unknown response received from server</p>");
                client.conn.disconnect();
                client.state = STATES.DISCONNECTED;
                break;
        }
    });
    client.conn.on('disconnect', function() {
        $("#log").append("<p>Disconnect</p>");
    });
script(type="text/javascript")
    $(function() {
        $("#chatMsg").keyup(function(evt) {
            if(event.which == "13") {
                if(client.state == STATES.JOINED) {
                    client.conn.send("MSG " + $("#chatMsg").val());
                    chatWin.append('<p><span class="you">You</span>' + $("#chatMsg").val() + '</p>');
                    $(this).val("");
                } else {
                    chatWin.append('<p><span class="system">System</span>Finding your chat mate. Please wait!</p>');
                }
            }
        });
        $("#chatSend").click(function(evt) {
            if(client.state == STATES.JOINED) {
                client.conn.send("MSG " + $("#chatMsg").val());
                chatWin.append('<p><span class="you">You</span>' + $("#chatMsg").val() + '</p>');
                $(this).val("");
            } else {
                chatWin.append('<p><span class="system">System</span>Finding your chat mate. Please wait!</p>');
            }
        });
    });
