h1 Chat Page
#chatContainer
    #chat
    #chatControls
        input#chatMsg(type="text", name="chatMsg", value="", disabled)
        input#chatSend(type="submit", value="Enter", disabled)
    #log
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript")
    function printLog(msg) {
        $("#log").append(msg);
        var logWin = document.getElementById("log");
        var scrollHeight = Math.max(logWin.scrollHeight, logWin.clientHeight);
        logWin.scrollTop = scrollHeight + 100;
    }

    function printChat(msg) {
        $("#chat").append(msg);
        var chatWin = document.getElementById("chat");
        var scrollHeight = Math.max(chatWin.scrollHeight, chatWin.clientHeight);
        chatWin.scrollTop = scrollHeight + 100;
    }

    var STATES = {
            "CONNECTED": 0,
            "LOGGEDIN": 1,
            "JOINED": 2,
            "DISCONNECTED": 3
    };
    var client = {
        uid: "#{uid}",
        conn: new io.Socket("serialx.net"),
        state: STATES.CONNECTED
    };

    client.conn.connect();

    client.conn.on('connect', function() {
        printLog("<p>Connected</p>");
        client.conn.send('UID ' + client.uid);
        printLog("<p>Sent UID: " + "#{uid}" + "</p>");
    });

    client.conn.on('message', function(data) {
        var res, code, msg;
        var parsed = data.split(" ");
        printLog("<p>Message from server: " + data + "</p>");

        res = parsed[0];
        msg1 = parsed[1];
        msg2 = parsed[2];

        switch (res)
        {
            case "OK":  // Responses
                switch(msg1) {
                    case "LOGGEDIN":
                        // Connected to the server with valid uuid
                        printLog("<p>Logged in!</p>");
                        printChat('<p><span class="system">System</span>Connected to chat server.</p>');
                        client.state = STATES.LOGGEDIN;
                        client.conn.send('FIND');
                        printChat('<p><span class="system">System</span>Please be patient while we search for your chat mate...</p>');
                        printLog("<p>Requested room...</p>");
                        break;
                    case "JOINED":
                        // Connected to the chat room
                        printLog("<p>Roomcode received: " + msg1 + "</p>");
                        printChat('<p><span class="system">System</span>Stranger enters the room. Have a nice chat!</p>');
                        client.state = STATES.JOINED;
                        $("#chatMsg,#chatSend").removeAttr("disabled");
                        $("#chatMsg").focus();
                        break;
                    default:
                        // Response-sink
                        printLog("<p>No code received from server</p>");
                        break;
                }
                break;
            case "MSG":
                // Chat message handling
                if (msg1 == client.uid)
                    printChat('<p><span class="you">You</span>' + msg2 + '</p>');
                else
                    printChat('<p><span class="stranger">Stranger</span>' + msg2 + '</p>');
                break;
            case "PART":
                // Stranger leaves the room! So sad!
                printChat('<p><span class="system">System</span>Stranger leaves the room.</p>');
                client.conn.disconnect();
            case "ERROR":
                // Error from server. Clean up all the connections.
                printLog("<p>Error received from server</p>");
                client.conn.disconnect();
                client.state = STATES.DISCONNECTED;
                break;
            default:
                // Response-sink
                printLog("<p>Unknown response received from server</p>");
                client.conn.disconnect();
                client.state = STATES.DISCONNECTED;
                break;
        }
    });
    client.conn.on('disconnect', function() {
        printLog("<p>Disconnect</p>");
        printChat('<p><span class="system">System</span>Disconnected from chat server.</p>');
        $("#chatMsg,#chatSend").attr({"disabled": "disabled"});
        client.state = STATES.DISCONNECTED;
    });
script(type="text/javascript")
    $(function() {
        $("#chatMsg").keyup(function(evt) {
            if(event.which == "13") {
                if(client.state == STATES.JOINED) {
                    client.conn.send("MSG " + $("#chatMsg").val());
                    printLog("MSG " + $("#chatMsg").val());
                    $(this).val("");
                } else {
                    printChat('<p><span class="system">System</span>Finding your chat mate. Please wait!</p>');
                }
            }
        });
        $("#chatSend").click(function(evt) {
            if(client.state == STATES.JOINED) {
                client.conn.send("MSG " + $("#chatMsg").val());
                printLog("MSG " + $("chatMsg").val());
                $(this).val("");
            } else {
                printChat('<p><span class="system">System</span>Finding your chat mate. Please wait!</p>');
            }
        });
    });
