!!! 5

html(lang="en")
    head
        link(rel="stylesheet", type="text/css", href="/static/css/reset-min.css")
        link(rel="stylesheet", type="text/css", href="/static/css/base-min.css")
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    body
        #content
            !{body}
