!!! 5

html(lang="en")
    head
        link(rel="stylesheet", type="text/css", href="/static/css/reset-min.css")
        link(rel="stylesheet", type="text/css", href="/static/css/base-min.css")
    body
        #content
            !{body}
